node_modules/
/node_modules
backend/node_modules/
frontend/node_modules/
backend/coverage/
coverage/
backend/.env
backend/.env.test
build/
frontend/build/
frontend/.env
test
*.log
*.log.*
*.log-*
*.log/*
.swp
*.swp
*.swo
.gitignore
